
.icon-crosshairs:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-grab:before { content: '\e802'; } /* '' */
.icon-hand:before { content: '\e803'; } /* '' */
.icon-cursor:before { content: '\e804'; } /* '' */
.icon-cursor2:before { content: '\e805'; } /* '' */