
.icon-crosshairs:before { content: '\e800'; } /* '' */
.icon-stretch:before { content: '\e801'; } /* '' */
.icon-cursor22:before { content: '\e802'; } /* '' */
.icon-hand:before { content: '\e803'; } /* '' */
.icon-move:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-plus3:before { content: '\e806'; } /* '' */
.icon-arrow-resize8:before { content: '\e807'; } /* '' */
.icon-spinner2:before { content: '\e808'; } /* '' */
.icon-zoom-in3:before { content: '\e809'; } /* '' */
.icon-zoom-out3:before { content: '\e80a'; } /* '' */
.icon-cursor3:before { content: '\e80b'; } /* '' */
.icon-pointer:before { content: '\e80c'; } /* '' */
.icon-grab:before { content: '\e80d'; } /* '' */
.icon-blocked:before { content: '\e80e'; } /* '' */
.icon-arrow-resize6:before { content: '\e80f'; } /* '' */
.icon-arrow-resize7:before { content: '\e810'; } /* '' */
.icon-arrow-resize5:before { content: '\e811'; } /* '' */