/***********************************************
leaflet-map-sync-outline-color
Variable with the color and style of outline
************************************************/


$map-outline      : #ff7800 !default; //"yellow". Alt: #EFFC51; //#E2FA00; //#92A200; //#ff7800;
$main-map-outline : #3216B0 !default; //"blue"    Alt: #4877BC; //#0E51A7; //#08346C; //#028E9B;

$map-outline-border-width: 2px;
