@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?rdro3n');
    src:    url('fonts/icomoon.eot?rdro3n#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?rdro3n') format('truetype'),
        url('fonts/icomoon.woff?rdro3n') format('woff'),
        url('fonts/icomoon.svg?rdro3n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stretch:before {
    content: "\e900";
}
.icon-cursor3:before {
    content: "\ed26";
}
.icon-cursor22:before {
    content: "\ed27";
}
.icon-move:before {
    content: "\ed4d";
}
.icon-blocked:before {
    content: "\ed67";
}
.icon-arrow-resize5:before {
    content: "\edff";
}
.icon-arrow-resize6:before {
    content: "\ee00";
}
.icon-plus:before {
    content: "\e601";
}
.icon-grab:before {
    content: "\e602";
}
.icon-hand:before {
    content: "\e603";
}
.icon-cursor:before {
    content: "\e604";
}
.icon-cursor2:before {
    content: "\e605";
}
.icon-crosshairs:before {
    content: "\e600";
}

